<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>AddServer</title>
		<link rel="stylesheet" type="text/css" href="style/addPage.css"/>
		<script type="text/javascript" src="script/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="script/editPage.js"></script>
	</head>

	<body>
		<button type="Submit" value="back" onclick="goBack()" onsubmit="return false">back</button>
			<h4>Edit Server Details</h4>
			<form id="edit-form" onsubmit="return false">
				<input type="hidden" name="reqType" value="edit" />
				Server-ID: {{.SrvId}}<input type="hidden" name="srvId" value={{.SrvId}} /><br>
				Name: <input type="text" name="name" value={{.Name}} /><br>
	  		IP: <input type="text" name="ip" value={{.IP}} /><br>
				Hostname: <input type="text" name="hostname" value={{.Hostname}} /><br>
				OS-User: <input type="text" name="osUser" value={{.OsUser}} /><br>
				OS-Password: <input type="text" name="osPassword" value={{.OsPassword}} /><br>
				OS-Port: <input type="text" name="osPort" value={{.OsPort}} /><br>
				Web-Port: <input type="text" name="webPort" value={{.WebPort}} /><br>
				Product: <input type="text" name="product" value={{.Product}} /><br>
				Datacenter: <input type="text" name="datacenter" value={{.Datacenter}} /><br>
				Web-Prefix: <input type="text" name="webPrefix" value={{.WebPrefix}} /><br>
				Web-Suffix: <input type="text" name="webSuffix" value={{.WebSuffix}} /><br>
				Faviourate: <input type="checkbox" name="fav" {{.Fav}} /><br>
			</form>
		<button type="Submit" form="edit-form" value="Edit" onclick="addEditSubmit()" onsubmit="return false">Submit</button>
		<button type="Submit" value="cancel" onclick="goBack()" onsubmit="return false">cancel</button>
		<p id="edit-result"></p>
</body>
