<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>DATACENTER</title>
		<link rel="stylesheet" type="text/css" href="style/index.css"/>
		<script type="text/javascript" src="script/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="script/index.js"></script>
	</head>

	<body>
		<div id="message">
		</div>
		<div id="connect" >
			<form id="ftp-form"  onsubmit="return false" >
					<input type="button" value="FTP" onclick='access("ftp")' />
			</form>
			<form id="web-form"   onsubmit="return false" >
					<input type="button" value="WEB" onclick='access("web")' />
			</form>
			<form id="ssh-form"   onsubmit="return false" >
					<input type="button" value="SSH" onclick='access("ssh")' />
			</form>
		</div>

		<div id="house" >
			<button  id="all-fav"  form="search-form" onclick="allFav()"><div id="sDiv">Show-All</div></button>
			<form id="addServer"   onsubmit="return false" >
					<input type="button" value="AddServer" onclick='addPage()' />
			</form>
			<form id="delete-form"   onsubmit="return false" >
					<input type="button" value="Delete" onclick='deleteServer()' />
			</form>
			<form id="edit-form"   onsubmit="return false" >
					<input type="button" value="Edit" onclick='editServer()' />
			</form>
				<button  id="query-button" onclick="queryFunc()" >Query</button>
		</div>
	<form id="search-form" onsubmit="return false" style="display:none" >
			<table width="80%">
				<thead >
					<tr style="text-align: left;">
						<th width="5%">SrvId</th>
						<th width="10%">Name</th>
						<th width="10%">IP</th>
						<th width="10%">Hostname</th>
						<th width="10%">Product</th>
						<th width="10%">Datacenter</th>
						<th width="10%">Favourite</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align: left;background:lightblue">
						<th><input name="srvId"/></th>
						<th><input name="name"/></th>
						<th><input name="ip"/></th>
						<th><input name="hostname"/></th>
						<th><input name="product"/></th>
						<th><input name="datacenter"/></th>
						<th><input id="fav-query" name="fav" value="true" readonly><th>
				</tr>
			</tbody>
		</table>

	<input type="submit"  form="search-form" value="Search" onclick="submitSearch()" onsubmit="return false" />
	</form>
		<table width="100%">
			<thead >
				<tr style="text-align: left;">
					<th width="5%">SrvId</th>
					<th width="10%">Name</th>
					<th width="10%">IP</th>
					<th width="10%">Hostname</th>
					<th width="10%">Product</th>
					<th width="10%">Datacenter</th>
					<th width="10%">LastAccessed</th>
				</tr>
			</thead>
			<tbody id="search-results" >
				<link rel="stylesheet" type="text/css" href="style/index.css"/>
			</tbody>
		</table>


	</body>

</html>
