body {
  color: black;
}

#shutdown {
  float:right;
}

button, .b1  {
background-color:hsl(0, 100%, 80%,0.9);
 cursor: pointer;
 border-radius: 8px
}

button:hover, .b1:hover {
  background-color:hsl(55, 100%, 80%,0.4);
  border-radius: 2px
}

#message{
  background-color:hsl(57, 100%, 50%);
  display:inline-block;
  left: 0;
right: 0;
}

#twoDiv {
  display:block;
}


#house form
{
display: inline-block;
    float: right;
}

#connect form
{
    display: inline-block;
    float: left;
}

thead {
  background-color:hsl(120,100%,25%,0.6);
}

body table tbody {
  background-color:hsl(206, 100%, 91%,0.6);
}

#search-results tr:hover {
font-size: 20px;
background-color: hsl(146, 100%, 20%,0.4);
 cursor: pointer;
}

.selected {
  background-color: rgba(41, 103, 182, 0.89);
  color: #FFF;
}
