body {
  color: black;
}

#house form
{
    display: inline-block;
    float: left;
}

#connect form
{
    display: inline-block;
    float: right;
}

thead {
  background-color:hsl(120,100%,25%,0.6);
}

body table tbody {
  background-color:hsl(120,60%,70%,0.3);
}

#search-results tr:hover {
font-size: 20px;
background-color: lightblue;
cursor: pointer;
}

.selected {
  background-color: rgba(41, 103, 182, 0.89);
  color: #FFF;
}
