body {
  color: black;
}

#shutdown {
  float:right;
}

#shutdown{
  float:inline-left;
}
#message{
  background-color:hsl(37, 100%, 88%);
  display:inline-block;
  left: 0;
right: 0;
}

#twoDiv {
  display:block;
}


#house form
{
    display: inline-block;
    float: right;
}

#connect form
{
    display: inline-block;
    float: left;
}

thead {
  background-color:hsl(120,100%,25%,0.6);
}

body table tbody {
  background-color:hsl(206, 100%, 91%,0.3);
}

#search-results tr:hover {
font-size: 20px;
background-color: hsl(146, 100%, 20%,0.4);
}

.selected {
  background-color: rgba(41, 103, 182, 0.89);
  color: #FFF;
}
